html {
  font-size: 20px;
}
body {
  font-size: 1rem;
}

li {
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
header.bg {
  background: #fff;
  border-bottom: 1px solid #e6e4e1;
}
nav a {
  color: #fff;
}
nav a.color {
  color: #333;
}
header .header_inner {
  padding: 1rem 0 0 0;
  margin: 0 auto;
  width: 59rem;
  height: 100%;
}

.hamberg,
.logo_nav_wrap h2,
.logo_nav_wrap .close,
.nav_lan {
  display: none;
}

.logo_nav_wrap {
  float: left;
}
.logo_nav_wrap * {
  float: left;
}
.logo_nav_wrap h1 {
  padding: 0 3.5rem 0 0;
}
.logo_nav_wrap h1 a {
  display: block;
  width: 8.7rem;
  height: 2.16rem;
  background: url("../img/white_logo.png") no-repeat;
  background-position-y: center;
  color: transparent;
}
.logo_nav_wrap h1 a.logo_color {
  background: url("../img/green_logo.png") no-repeat;
  background-position-y: center;
}
.logo_nav_wrap .nav li {
  padding: 0px 3rem 0 0;
}
.logo_nav_wrap .nav .all_nav a {
  display: block;
  height: 2.25rem;
  line-height: 2.25rem;
  position: relative;
  font-size: 0.6rem;
}
.line {
  position: absolute;
  left: 0;
  bottom: 0.5rem;
  height: 0.05rem;
  background: #fff;
  transition: all 0.4s;
}
.line.co_black {
  background: rgb(81, 81, 81);
}
.line.view {
  width: 100%;
}
.logo_nav_wrap .nav .all_nav a:hover .line {
  width: 100%;
}
.language {
  float: right;
  position: relative;
}
.language p {
  padding: 0 0.5rem 0 0;
  display: block;
  float: left;
  height: 2.25em;
  line-height: 2.25rem;
  font-size: 0.6rem;
  color: #fff;
}
.language p.color {
  color: #333;
}
.language > a {
  display: block;
  float: left;
  width: 0.45rem;
  height: 2.25rem;
  line-height: 2.25rem;
}
.click_language_down {
  background: url("../img/down_gray.png") no-repeat;
  background-position: center;
}
.black_down {
  background: url("../img/down_black.png") no-repeat;
  background-position: center;
}
.click_language_up {
  background: url("../img/up_gray.png") no-repeat;
  background-position: center;
}
.black_up {
  background: url("../img/up_black.png") no-repeat;
  background-position: center;
}

.language .click_lan {
  display: none;
  padding: 0.75rem 0;
  width: 5.5rem;
  position: absolute;
  top: 2rem;
  right: 0;
  background: #fff;
}
.language .click_lan.on {
  display: block;
}
.language li {
  width: 100%;
  text-align: center;
}
.language ul li a {
  color: #000;
  font-size: 0.6rem;
  line-height: 1.25rem;
}

/* main */

body {
  overflow-x: hidden;
}

main {
  overflow: hidden;
}

/* main - section1 (스와이퍼) */
.section1 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.section1 h2 {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45.5%;
  transform: translateY(-50%);
  z-index: 20;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 100;
}
.section1 h3 {
  width: 22.05rem;
  height: 2.8rem;
  background: url("../img/slide_white_logo.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 20;
  color: transparent;
}
.section1 .dim {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: url("../img/banner/dim.png");
}

.main_slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_slide h3 {
  display: none;
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.view {
  opacity: 1;
}

.slide:nth-child(1) {
  background: url("../img/banner/banner1.jpg");
  background-position: center;
  background-size: cover;
}
.slide:nth-child(2) {
  background: url("../img/banner/banner2.jpg");
  background-position: center;
  background-size: cover;
}
.slide:nth-child(3) {
  background: url("../img/banner/banner3.jpg");
  background-position: center;
  background-size: cover;
}
.slide:nth-child(4) {
  background: url("../img/banner/banner4.jpg");
  background-position: center;
  background-size: cover;
}
.slide:nth-child(5) {
  background: url("../img/banner/banner5.jpg");
  background-position: center;
  background-size: cover;
}
.slide:nth-child(6) {
  background: url("../img/banner/banner6.jpg");
  background-position: center;
  background-size: cover;
}

.btn_next,
.btn_prev {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 1.55rem;
  height: 3rem;
  background: url("../img/logo_total.png") no-repeat;
  cursor: pointer;
}
.btn_next {
  right: 5rem;
  background-position: 0 -8rem;
}
.btn_prev {
  left: 5rem;
  background-position: 0 -11.5rem;
}

.moblie {
  display: none;
}

/* section2 */

.section2 {
  padding: 5rem 0;
  width: 100%;
  background: #fff;
}

.section2 > h2 {
  padding: 0 0 3rem 0;
  width: 100%;
  text-align: center;
  font-size: 3.75rem;
  font-weight: bold;
  color: #404040;
  letter-spacing: 0;
  line-height: 4.5rem;
}
.section2 > p {
  padding: 0 0 2.5rem 0;
  width: 34rem;
  margin: 0 auto;
  text-align: center;
  font-size: 0.6rem;
  line-height: 1.2rem;
  color: #333;
  letter-spacing: -0.025rem;
}
.section2 .video {
  display: block;
  width: 41rem;
  height: 25rem;
  margin: 0 auto;
  background: url("../img/video_img.jpg");
  background-size: cover;
}

/* section3 */

.section3 {
  padding: 5rem 0;
  width: 100%;
  background: #faf8f5;
}
.section3 > h2.web {
  padding: 0 0 3rem 0;
  width: 100%;
  text-align: center;
  font-size: 3.75rem;
  font-weight: bold;
  color: #404040;
  letter-spacing: 0;
  line-height: 4.5rem;
}
.section3 > h2.sec3_mobile {
  display: none;
}

.sec3_inner {
  margin: 0 auto 3rem;
  width: 59rem;
  height: 15rem;
}
.sec3_inner > li {
  margin: 0 3rem 0 0;
  float: left;
  width: calc((100% / 3) - 2rem);
  height: 100%;
}
.sec3_inner > li:nth-child(3) {
  margin-right: 0;
}

.sec3_inner > li > .img {
  width: 100%;
  height: 5.5rem;
}
.sec3_inner > li:nth-child(1) > .img {
  background: url("../img/core/img1.gif") no-repeat;
  background-position: center;
}
.sec3_inner > li:nth-child(2) > .img {
  background: url("../img/core/img2.gif") no-repeat;
  background-position: center;
}
.sec3_inner > li:nth-child(3) > .img {
  background: url("../img/core/img3.gif") no-repeat;
  background-position: center;
}

.sec3_inner li p {
  padding: 1rem 0 1rem 0;
  width: 100%;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.025rem;
}

.sec3_inner li span {
  width: 100%;
  text-align: left;
  font-size: 0.6rem;
  letter-spacing: 0;
  color: #333;
}

.partnership {
  display: block;
  margin: 0 auto;
  width: 11.5rem;
  height: 3rem;
  background: #5c5e66;
  text-decoration: none;
  color: #fff;
}
.partnership p {
  width: 100%;
  text-align: center;
  line-height: 3rem;
  font-size: 0.7rem;
  font-weight: bold;
}

/* section4 */
.section4 {
  position: relative;
}
.section4 > h2 {
  display: none;
}
.fotorama {
  display: none;
}
.sec4_web {
  width: 100%;
  height: 40rem;
  position: relative;
}
.sec4_slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s;
}
.sec4_view {
  opacity: 1;
}

.sec4_slide:nth-child(1) {
  background: url("../img/slide2/img1.jpg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(2) {
  background: url("../img/slide2/img2.jpg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(3) {
  background: url("../img/slide2/img3.jpg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(4) {
  background: url("../img/slide2/img4.jpg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(5) {
  background: url("../img/slide2/img5.jpeg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(6) {
  background: url("../img/slide2/img6.jpg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(7) {
  background: url("../img/slide2/img7.jpg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(8) {
  background: url("../img/slide2/img8.jpg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(9) {
  background: url("../img/slide2/img9.jpg");
  background-size: cover;
  background-position: center;
}
.sec4_slide:nth-child(10) {
  background: url("../img/slide2/img10.jpg");
  background-size: cover;
  background-position: center;
}

.sec4_btn_next,
.sec4_btn_prev {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 1.55rem;
  height: 3rem;
  background: url("../img/logo_total.png") no-repeat;
  cursor: pointer;
}
.sec4_btn_next {
  right: 100px;
  background-position: 0 -8rem;
}
.sec4_btn_prev {
  left: 100px;
  background-position: 0 -11.5rem;
}

/* section5 */

.section5 {
  padding: 5rem 0;
  width: 100%;
  background: #faf8f5;
}
.section5 > h2 {
  padding: 0 0 3rem 0;
  width: 100%;
  text-align: center;
  font-size: 3.75rem;
  font-weight: bold;
  color: #404040;
  letter-spacing: 0;
  line-height: 4.5rem;
}

.media1 {
  display: block;
  margin: 0 auto 1.5rem;
  width: 51rem;
  height: 17.5rem;
  background: #fff;
}

.media1:nth-of-type(1) > .img {
  width: 35rem;
  height: 100%;
  background: url("../img/media/img1.jpg") no-repeat;
  background-size: cover;
  float: left;
}
.media1:nth-of-type(2) > .img {
  width: 35rem;
  height: 100%;
  background: url("../img/media/img2.jpg") no-repeat;
  background-size: cover;
  float: left;
}
.media1:nth-of-type(3) > .img {
  width: 35rem;
  height: 100%;
  background: url("../img/media/img3.jpg") no-repeat;
  background-size: cover;
  float: left;
}

.media1 > .txt {
  width: calc(100% - 35rem);
  height: 100%;
  float: right;
  position: relative;
  color: #000;
}
.media1 > .txt p {
  padding: 1.25rem 1.25rem 0 1.25rem;
}
.media1 > .txt p:nth-of-type(1) {
  font-size: 0.75rem;
  font-weight: bold;
}
.media1 > .txt p:nth-of-type(2) {
  font-size: 0.7rem;
  color: #666;
  line-height: 22px;
}
.media1 > .txt p:nth-of-type(3) {
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  font-size: 0.7rem;
  color: #666;
}

/* section6 */

.section6 {
  padding: 5rem 0;
  width: 100%;
  background: #fff;
}
.section6 > h2 {
  padding: 0 0 3rem 0;
  width: 100%;
  text-align: center;
  font-size: 3.75rem;
  font-weight: bold;
  color: #404040;
  letter-spacing: 0;
  line-height: 4.5rem;
}

.section6 table {
  width: 51rem;
  margin: 0 auto 2rem;
  font-size: 0.7rem;
  border-top: 0.5px solid #e5e5e5;
}

.section6 .sec6_mobile {
  display: none;
}

.section6 col:nth-child(1) {
  width: 4rem;
}
.section6 col:nth-child(2) {
  width: 4rem;
}
.section6 col:nth-child(4) {
  width: 6rem;
}

.section6 thead th {
  height: 2.5rem;
  font-size: 0.6rem;
  color: #808080;
  border-bottom: 0.5px solid #e5e5e5;
  text-align: center;
}
.section6 tbody td {
  border-bottom: 1px solid #e5e5e5;
  padding: 1.5rem 0;
}
.section6 tbody td:nth-child(1) {
  font-weight: bold;
  text-align: center;
}
.section6 tbody td:nth-child(2) {
  text-align: center;
  text-align: center;
}
.section6 tbody td:nth-child(3) a {
  padding: 1.5rem 2rem;
  color: #000;
  vertical-align: middle;
  text-align: left;
}
.section6 tbody td:nth-child(4) a {
  text-align: center;
}

.pagination {
  padding: 1.5rem 0;
  width: 100%;
}
.pagination ul {
  width: 5rem;
  margin: 0 auto;
}
.pagination li {
  width: calc(100% / 4);
  float: left;
  text-align: center;
}
.pagination li a {
  color: #808080;
  font-size: 0.65rem;
}

/* section7 */

.section7 {
  padding: 0 0 10rem;
}
.section7 > h2 {
  display: none;
}
.section7 * {
  letter-spacing: 0;
}
.sec7_container {
  margin: 0 auto;
  width: 59rem;
  height: 20rem;
}
.sec7_container ul {
  float: left;
  margin-right: 1rem;
  width: calc((100% / 3) - 0.675rem);
  height: 100%;
}
.sec7_container ul:nth-child(3) {
  margin-right: 0;
}

.sec7_container .img {
  margin-bottom: 1rem;
  width: 100%;
  height: 12.5rem;
}
.sec7_container ul:nth-child(1) .img {
  background: url("../img/sec7/img1.jpg");
  background-position: center;
  background-size: cover;
}
.sec7_container ul:nth-child(2) .img {
  background: url("../img/sec7/img2.jpg");
  background-position: center;
  background-size: cover;
}
.sec7_container ul:nth-child(3) .img {
  background: url("../img/sec7/img3.jpg");
  background-position: center;
  background-size: cover;
}

.sec7_container li:nth-child(2) {
  padding-bottom: 0.25rem;
  font-size: 0.85rem;
  color: #333333;
  font-weight: bold;
}
.sec7_container li:nth-child(3) {
  box-sizing: border-box;
  padding-right: 1rem;
  font-size: 0.6rem;
  color: #666;
  line-height: 1.2rem;
  letter-spacing: 0;
}

.sec7_container li:nth-child(4),
.sec7_container li:nth-child(5) {
  margin: 1rem 0.6rem 0 0;
  float: left;
  font-size: 0.6rem;
  font-weight: bold;
}

.sec7_container a {
  padding-right: 0.75rem;
  color: #999;
  background: url(../img/bg_btn_arrow2_off.png) no-repeat 100% 0.2rem / 0.4rem;
}

.sec7_container a:hover {
  color: #333;
  background: url(../img/bg_btn_arrow2_on.png) no-repeat 100% 0.2rem / 0.4rem;
}

.sec7_mobile {
  display: none;
}

/* footer */

.footer_info_mobile {
  display: none;
}

footer {
  width: 100%;
  height: 13.5rem;
  background: #383838;
  overflow: hidden;
}
footer * {
  letter-spacing: 0;
}

footer .footer_inner {
  margin: 0 auto;
  width: 59rem;
  padding-top: 3rem;
}
footer .footer_inner h2 {
  width: 7.6rem;
  height: 0.95rem;
  background: url("../img/footer_logo.png") no-repeat;
  color: transparent;
  float: left;
}
footer .footer_inner .footer_info {
  margin-left: 2.5rem;
  width: 30rem;
  float: left;
}

.footer_info ul li a {
  padding: 0 0.5rem;
  float: left;
  font-size: 0.6rem;
  color: #b3b3b3;
}
.footer_info ul li:nth-child(1) a {
  padding-left: 0;
}

.footer_info ul:nth-child(2) {
  margin-top: 1.5rem;
}
.footer_info ul:nth-child(2) li {
  float: left;
  font-size: 0.55rem;
  padding: 0 0.5rem;
  float: left;
  font-size: 0.55rem;
  color: gray;
}
.footer_info ul:nth-child(2) li:nth-child(1) {
  padding-left: 0;
}
.footer_info ul:nth-child(2) li:nth-child(4) {
  padding-left: 0;
  clear: both;
  margin-top: 0.25rem;
}
.footer_info ul:nth-child(2) li:nth-child(5) {
  margin-top: 0.25rem;
}
.footer_info ul:nth-child(2) li:nth-child(6) {
  margin-top: 0.25rem;
}

footer p {
  clear: both;
  margin-top: 5rem;
  font-size: 0.55rem;
  color: gray;
}

footer .sns {
  float: right;
}
footer .sns li {
  float: left;
  margin-left: 1.25rem;
}
footer .sns li:nth-child(1) a {
  display: block;
  width: 0.4rem;
  height: 0.85rem;
  background: url("../img/logo_total.png") no-repeat;
  background-position: 0 0;
}
footer .sns li:nth-child(2) a {
  display: block;
  width: 0.75rem;
  height: 0.85rem;
  background: url("../img/logo_total.png") no-repeat;
  background-position: 0 -1rem;
}
footer .sns li:nth-child(3) a {
  display: block;
  width: 0.9rem;
  height: 0.85rem;
  background: url("../img/logo_total.png") no-repeat;
  background-position: 0 -2rem;
}
footer .sns li:nth-child(4) a {
  display: block;
  width: 1rem;
  height: 0.85rem;
  background: url("../img/logo_total.png") no-repeat;
  background-position: 0 -3rem;
}
footer .sns li:nth-child(5) a {
  display: block;
  width: 1.1rem;
  height: 0.85rem;
  background: url("../img/logo_total.png") no-repeat;
  background-position: 0 -4rem;
}
footer .sns li:nth-child(6) a {
  display: block;
  width: 1.1rem;
  height: 0.85rem;
  background: url("../img/logo_total.png") no-repeat;
  background-position: -0.65rem -0.05rem;
}
